/* FILE BUTTON SUBSCRIBE EFFECT */
.button-slide-up {
  padding: 30px 45px;
  font-size: 50px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 4px solid black;
  background: none;
}

.button-slide-up > span {
  position: relative;
  z-index: 1;
  color: white;
  transition: color 0.5s ease-in-out;
}

.button-slide-up::after {
  content: "";
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.button-slide-up:hover::after {
  transform: translateY(-100%);
}

.button-slide-up:hover span {
  color: black;
}
